/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

body{
	font-family: sans-serif;
	background: rgba(60,60,60,255);
}

div.home-container { 
	background: url(images/home-background.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
	background-color: rgba(250,250,250,255);
}

div.container {
	position: relative;
	min-height: 100vh;
	background: rgba(250,250,250,255);
}

/* >>> IMPORTANT: you have to change the wrap the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class.  */


main { 
	padding: 1rem 2rem 5rem;
	}

img {
    width: 100%; /*Please leave this line.*/
    display: block;
}

header {
	display: grid;
	grid-template-columns: 50% 50%;
	background: rgba(204,204,204,255);
	padding: 1.5rem 1rem;
	}

h1 {
	width: 50%;
	}

h2, h3, h4 {
		font-weight: 700;
	}

h2 {
	font-size: 2rem;
	margin: 2rem 0rem 1rem;
	}
	
h3 {
	font-size: 1.5rem;
	margin: 2rem 0rem 1rem;
}

a {
	text-decoration: none;
	padding: 0.75rem;
	text-align: center;
}

nav ul  {
	text-align: right;
}
	
ul li 	{
	list-style-type: none;
}

figure {
	margin-bottom: 1rem;
}

main.menu ul {
	margin: 1rem 0rem;
}	

main.menu ul li {
	margin: 0.5rem 0 2rem;
	display: grid;
	grid-template-columns: ;
	grid-template-rows: auto;
}	

p {
	margin: 0.75rem 0rem 0.5rem;
}
	
p.description {
	grid-column: 1/2;
	margin: 0;
}
	
p.price {
	grid-row: 1/2;
	grid-column: 2/3;
	color: rgb(255,0,0);
	text-align: right;
	margin: 0rem 0rem 0.25rem;
}
	
nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 1rem;
}
	
nav ul li a {
	color: rgba(20,20,20,255);
	background-color:rgba(170,170,170,255);
	padding: 0.35rem;
	padding-left: 0.5rem;
}
	
nav ul li.selected a { 
	background-color: rgba(100,100,100,255);
	color: rgba(250,250,250,255);
}

p.slogan {
	font-size: 3rem;
	font-family: serif;
	font-style: italic;
	margin: 3rem 1.5rem 4rem;
	color: rgba(250,250,250,255);	
}

article{
	background-color: rgba(235,235,235,255);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1rem 0.5rem;
  background: rgba(150,150,150,255);
}

ul.adds{
	background-color: rgba(200, 200, 200, 255);
	padding: 0rem 1rem;
}

p.address {
	color: rgba(100,100,100,255);
	}

footer p {
	margin: 0rem;
}

@media screen and (min-width: 60em) {

	nav ul li{
		display: inline;
		padding: 0.75em;
		margin-top: 1rem;
		font-size: 1.25rem;
	}

	h1{
		width: 25%;
	}

	article{
		width: 50%;
		margin: 0 auto;
	}

	main.menu ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;
	}

	body{
		width: 90%;
		margin: auto;
	}  

	nav ul {
		margin-top: 2.5rem;
	}

}

